WebContent/wsdl/Patient.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://patient" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://patient" xmlns:intf="http://patient" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://patient" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addpatient">
    <complexType>
     <sequence>
      <element name="datumuur" type="xsd:string"/>
      <element name="naampatient" type="xsd:string"/>
      <element name="naamVerpleegster" type="xsd:string"/>
      <element name="geboortedatumn" type="xsd:string"/>
      <element name="Allergien" type="xsd:string"/>
      <element name="Diagnose" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addpatientResponse">
    <complexType>
     <sequence>
      <element name="addpatientReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addpatientRequest">

      <wsdl:part element="impl:addpatient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addpatientResponse">

      <wsdl:part element="impl:addpatientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Patient">

      <wsdl:operation name="addpatient">

         <wsdl:input message="impl:addpatientRequest" name="addpatientRequest">

       </wsdl:input>

         <wsdl:output message="impl:addpatientResponse" name="addpatientResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PatientSoapBinding" type="impl:Patient">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addpatient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addpatientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addpatientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PatientService">

      <wsdl:port binding="impl:PatientSoapBinding" name="Patient">

         <wsdlsoap:address location="http://localhost:6896/Webtech3examenvraag1/services/Patient"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
