WebContent/wsdl/PatientIngeven.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://patient" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://patient" xmlns:intf="http://patient" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://patient" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="Patient">
    <complexType>
     <sequence>
      <element name="datumuur" type="xsd:string"/>
      <element name="naampatient" type="xsd:string"/>
      <element name="naamverpleegkundige" type="xsd:string"/>
      <element name="geboortedatum" type="xsd:string"/>
      <element name="Alergien" type="xsd:string"/>
      <element name="diagnose" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="PatientResponse">
    <complexType>
     <sequence>
      <element name="PatientReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="PatientResponse">

      <wsdl:part element="impl:PatientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="PatientRequest">

      <wsdl:part element="impl:Patient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PatientIngeven">

      <wsdl:operation name="Patient">

         <wsdl:input message="impl:PatientRequest" name="PatientRequest">

       </wsdl:input>

         <wsdl:output message="impl:PatientResponse" name="PatientResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PatientIngevenSoapBinding" type="impl:PatientIngeven">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Patient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PatientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="PatientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PatientIngevenService">

      <wsdl:port binding="impl:PatientIngevenSoapBinding" name="PatientIngeven">

         <wsdlsoap:address location="http://localhost:8080/Webtech3examenvraag1/services/PatientIngeven"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
